@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cyan {
    color: hsl(178, 100%, 50%);
}

.soft-blue {
    color: hsl(215, 51%, 70%);
}

.card {
    background-color: hsl(216, 50%, 16%);
    font-weight: 300;
    width: 350px;
    height: 596px;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.card-img {
    width: 100%;
    text-align: center;
}

.card-heading {
    color: hsl(178, 100%, 50%);
}

.card-paragraph {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    line-height: 1.5;
}

.card-details-section {
    display: flex;
    justify-content: space-between;
}

.card-details-section_element {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 0.5rem;
}

hr {
    border: 0;
    height: 0.15px;
    background: hsl(215, 32%, 27%);
}

.card-created-by {
    display: flex;
    align-items: center;
}

.name {
    color:hsl(0, 0%, 100%)
}

.avatar-img {
    height: 33px;
    width: 33px;
    margin-right: 0.75rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}