/* ================================= 
  Import Fonts
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


/* ================================= 
  Base Element Styles
==================================== */
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.cyan {
    color: hsl(178, 100%, 50%);
}

.soft-blue {
    color: hsl(215, 51%, 70%);
}

/* ================================= 
    Base Layout Styles
  ==================================== */

.card {
    background-color: hsl(216, 50%, 16%);
    font-weight: 300;
    width: 350px;
    height: 596px;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.card-img {
    width: 100%;
    text-align: center;
}

.card-img:active {
    z-index: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}
  
  .container:active .overlay {
    cursor: pointer;
    opacity: 40%;
    background-color: hsl(178, 100%, 50%);
  }

.overlay-icon {
    color: white;
    font-size: 100px;
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.card-heading {
    color: hsl(0, 0%, 100%);
}

.card-heading:active {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.card-paragraph {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    line-height: 1.5;
    width: 75%;
    margin-bottom: 0;
}

.card-details-section {
    display: flex;
    justify-content: space-between;
}

.card-details-section_element {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 0.5rem;
}

hr {
    border: 0;
    height: 0.15px;
    background: hsl(215, 32%, 27%);
}

.card-created-by {
    display: flex;
    align-items: center;
}

.name {
    color:hsl(0, 0%, 100%);
}

.name:active{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.avatar-img {
    height: 33px;
    width: 33px;
    margin-right: 0.75rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(0, 0%, 100%);
    margin-top: 1rem;
}

.attribution a { 
    color: hsl(178, 100%, 50%);
}

 /* ================================= 
    Media Queries
  ==================================== */
@media (min-width: 768px) {
    .card-paragraph {
        width: 95%;
    }
}